<div style="margin: 10px !important">
<mat-card class="example-card">
    <mat-card-header>
      <table>
        <tr>
          <td>
              <div mat-card-avatar class="documento-image"></div>
      
          </td>
          <td class="p100">
             <mat-card-title>Hepatitis</mat-card-title>
      <mat-card-subtitle>Enfermedad</mat-card-subtitle>
    
          </td>
<td>
   <table>
     <tr>
       <td>
          <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <img width="20" src="../../../assets/img/edit.png">
             </button>
            
       </td>
       <td>
          <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <img width="20" src="../../../assets/img/Recycle_Bin_Full.png">
             </button>
       </td>
       <td>
          <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
              <img width="20" src="../../../assets/img/detalle.png">
             </button>
       </td>
     </tr>
   </table>
    </td>

        </tr>
      </table>
    </mat-card-header>
    <mat-card-content>

        <mat-divider></mat-divider>
      <mat-card-header style="margin-top: 15px">
        <div mat-card-avatar  class="profe-image"></div>
        <mat-card-title style="font-size: 14px !important">Dr. Fulano Perez P.</mat-card-title>
        <mat-card-subtitle>
          Comentario
            <button mat-icon-button color="warn" aria-label="Example icon-button with a heart icon">
                <img width="20" src="../../../assets/img/edit.png">
               </button>
        </mat-card-subtitle>
      </mat-card-header>
       
    </mat-card-content>
    <mat-card-actions>       
        <mat-checkbox  class="m20" [(ngModel)]="Correcto"  [disabled]="Incorrecto"><samp style="color: green">Correcto</samp></mat-checkbox>
        <mat-checkbox  class="m20" [(ngModel)]="Incorrecto" [disabled]="Correcto"><samp style="color: red">Incorrecto</samp></mat-checkbox>
    </mat-card-actions>
  </mat-card>
</div>



<!-- <div style="margin: 10px !important">
  <mat-card>
      <table class="p100" border="0" >
          <tr>
            <td>Tipo de Entidad</td>
            <td>Entidad</td>
           
          </tr>
          
          <tr>
            <td>asd</td>
            <td>
              <table >
               
                <tr>
                  <td><img width="15" src="../../../assets/img/incorrecto-icono-png-2.png"></td>
                  <td class="p100">Sintoma</td>
                  <td >
                    
                    <table>
                      <tr>
          
                        <td>
                            <img class="float-right" width="30" src="../../../assets/img/Edit-01-512.png">
                       
                        </td>
                        <td>
                            <img class="float-right" width="25" src="../../../assets/img/Recycle_Bin_Full.png">
                       
                        </td>
                        <td>
                            <img class="float-right" width="25" src="../../../assets/img/detalle.png">
                       
                        </td>
                        
                      </tr>
                    </table>
                  
                   </td>
                </tr>
          
                <tr>       
                  <td class="p100" colspan="3" style="border-top:groove 1px;"></td>
                </tr>
          
                <tr>
                  <td><img width="20" src="../../../assets/img/profe.png"></td>
                  <td colspan="2" class="p100">Dr. Fulano Perez P.</td>
                  
                </tr>
          
                <tr>
                    <td><img width="20" src="../../../assets/img/comentario.png"></td>
                    <td colspan="2" class="p100">Comentario.</td>
                    
                  </tr>
          
              </table>
          
             <table>
          <tr>
            <td>
              <mat-radio-group aria-label="Select an option">
                  <mat-radio-button  style="margin-right: 25px" value="1">No evaluar</mat-radio-button>
                  <mat-radio-button style="margin-right: 25px" value="2">Correcto</mat-radio-button>
                  <mat-radio-button style="margin: 5px" value="2">Incorrecto</mat-radio-button>
                </mat-radio-group>
            </td>
          </tr>
             </table>
          
            </td>
            
          </tr>
          
          </table>  
  </mat-card>

</div> -->