<div *ngIf="ArrarAsociaiconesSearch.length > 0" class="tipo-asociacion">

  <div style="background-color: gainsboro;" class="name-img-content">
    <div class="ta-name">{{Titulo}}</div>
    <div class="ta-img">

      <button *ngIf="!expand" (click)="Expand()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <button *ngIf="expand" (click)="Collapse()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>

    </div>
  </div>
  <div class="separator"></div>
  <div *ngIf="expand" class="tipo-asociacion-body">

    <table class="table">

      <thead>
        <tr>
          <th [class.active]="order == 'Entidad'" (click)="setOrder('Entidad')">
            Entidad <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'TipoAsociacion'" (click)="setOrder('TipoAsociacion')">
            Tipo de Asociación <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'Fuerza'" (click)="setOrder('Fuerza')">
            Fuerza <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'Comentario'" (click)="setOrder('Comentario')">
            Comentario <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
    </table>

    <li class="list-style-none" *ngFor="let item of ArrarAsociaicones | orderBy: order:reverse:'case-insensitive' ">
      <app-visor-asociaciones-multiples [ASOCIACION]="item"></app-visor-asociaciones-multiples>
    </li>



  </div>

</div>
