<div class="tipo-asociacion">

  <div style="background-color: gainsboro;" class="name-img-content">
    <div class="ta-name">ASOCIACIONES</div>
    <div class="ta-img">

      <button *ngIf="!expand" (click)="Expand()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <button *ngIf="expand" (click)="Collapse()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>

    </div>
  </div>
  <div class="separator"></div>
  <div *ngIf="expand" class="tipo-asociacion-body">

    <div class="task-bar">
      <button *ngIf="!search" (click)="Search()" mat-icon-button class="black">
        <mat-icon>search</mat-icon>
      </button>

      <button *ngIf="search" (click)="CancelSearch()" mat-icon-button class="black">
        <mat-icon>cancel</mat-icon>
      </button>

      <mat-form-field *ngIf="search" class="mat-form-field">
        <input matInput [value]="valueSearch" (keyup)="SearchOnChange($event)">
      </mat-form-field>
    </div>

    <table class="table">

      <thead>
        <tr>
          <th [class.active]="order == 'Entidad'" (click)="setOrder('Entidad')">
            Entidad <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'TipoAsociacion'" (click)="setOrder('TipoAsociacion')">
            Tipo de Asociación <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'Fuerza'" (click)="setOrder('Fuerza')">
            Fuerza <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'Comentario'" (click)="setOrder('Comentario')">
            Comentario <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
    </table>


    <li class="list-style-none" *ngFor="let item of ArrarAsociaicones | orderBy: order:reverse:'case-insensitive' ">
      <app-visor-asociaciones-multiples [ASOCIACION]="item"></app-visor-asociaciones-multiples>
    </li>



  </div>

</div>
