.tipo-asociacion{
position: relative;
display: block;
margin-bottom: 30px;
}
.name-img-content{
display: flex;
justify-content: space-between;
}
.ta-name{
font-size: 24px;
color:blueviolet;
}
.entidad-count{
  width: auto;
  height: 20px;
  color: black;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.separator{
border-bottom: 1px solid ;
border-bottom-color: black;
margin-top: 5px;
}

.tipo-asociacion-body{
display: block;
}

.mat-form-field{
margin: 0px;
}

.task-bar{
 display: flex;
 justify-content: flex-end;
}

.link{
cursor: pointer;
color: dodgerblue;
display: inline;
}

.link:hover{
  text-decoration: underline;
}
