<div class="tipo-asociacion">

  <div class="name-img-content">
    <div class="ta-name">RECURSOS</div>
    <div class="ta-img">

      <button *ngIf="!expand" (click)="Expand()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <button *ngIf="expand" (click)="Collapse()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>

    </div>
  </div>
  <div class="separator"></div>
  <div *ngIf="expand" class="tipo-asociacion-body">

    <div class="task-bar">
      <!-- <button *ngIf="!search" (click)="Search()" mat-icon-button class="black">
        <mat-icon>search</mat-icon>
      </button>

      <button *ngIf="search" (click)="CancelSearch()" mat-icon-button class="black">
        <mat-icon>cancel</mat-icon>
      </button>

      <mat-form-field *ngIf="search" class="mat-form-field">
        <input matInput [value]="valueSearch" (keyup)="SearchOnChange($event)">
      </mat-form-field> -->

    </div>

    <table class="table">
      <thead>
        <tr>
          <th [class.active]="order == 'IsImage'" (click)="setOrder('IsImage')">
            Imagen <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col">URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ArrarEntidadRecursos | orderBy: order:reverse:'case-insensitive'">

          <td>
            <span *ngIf="item.IsImage == 1">SI</span>
            <span *ngIf="item.IsImage == 0">NO</span>
          </td>
          <td>
            <a *ngIf="item.IsImage == 0" class="link" [href]="item.URL" target="_blank"> {{item.URL}} </a>
            <a *ngIf="item.IsImage == 1" [href]="item.URL" target="_blank"><img [src]="item.URL" width="60"
                height="60"></a>
          </td>

        </tr>
      </tbody>
    </table>

  </div>

</div>
