.tipo-asociacion{
  position: relative;
  display: block;
  margin-bottom: 30px;
  }
  .name-img-content{
  display: flex;
  justify-content: space-between;
  }
  .ta-name{
  font-size: 24px;
  color:blueviolet;
  }
  .ta-img{


  }
  .separator{
  border-bottom: 1px solid ;
  border-bottom-color: black;
  margin-top: 5px;
  }

  .tipo-asociacion-body{
  display: block;
  }

  .mat-form-field{
  margin: 0px;
  }

  .task-bar{
   display: flex;
   justify-content: flex-end;
  }

  .link{
  cursor: pointer;
  color: dodgerblue;
  display: inline;
  }

  .link:hover{
    text-decoration: underline;
  }

  thead th {
    user-select: none;
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
 }
  thead th span {
    user-select: none;
    visibility: hidden;
 }
  thead th.active {
    color: #000;
 }
  thead th.active span {
    visibility: visible;
 }

 HTML CSS JSResult
EDIT ON
*{margin: 0; padding: 0;}
.doc{
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #333944;
}
.box{
  width: 300px;
  height: 300px;
  background: #CCC;
  overflow: hidden;
}
.btn{
  border: none;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  border-radius: 3px;

  font-family: Verdana, sans-serif;
  color: white;
  background: #1ac6d0;
  cursor: pointer;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}


