<div *ngIf="ArrarEntidadRecursosSearch.length > 0" class="tipo-asociacion">

  <div style="background-color: gainsboro;" class="name-img-content">
    <div class="ta-name">
      <mat-icon routerLink="/additionalInfo/{{ID_ENTIDAD}}/{{ID_TIPOENTIDAD}}/1"
        style="cursor: pointer;color:black;margin: 5px;;">add_box</mat-icon>
      RECURSOS
    </div>
    <div class="ta-img">

      <button *ngIf="!expand" (click)="Expand()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <button *ngIf="expand" (click)="Collapse()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>

    </div>
  </div>
  <div class="separator"></div>
  <div *ngIf="expand" class="tipo-asociacion-body">

    <div class="task-bar">
      <!-- <button *ngIf="!search" (click)="Search()" mat-icon-button class="black">
        <mat-icon>search</mat-icon>
      </button>

      <button *ngIf="search" (click)="CancelSearch()" mat-icon-button class="black">
        <mat-icon>cancel</mat-icon>
      </button>

      <mat-form-field *ngIf="search" class="mat-form-field">
        <input matInput [value]="valueSearch" (keyup)="SearchOnChange($event)">
      </mat-form-field> -->

    </div>

    <table class="table">
      <thead>
        <tr>
          <th style="width: 10px;"></th>
          <th [class.active]="order == 'IsImage'" (click)="setOrder('IsImage')">
            Imagen <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'Nivel'" (click)="setOrder('Nivel')">
            Nivel <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th scope="col">URL</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ArrarEntidadRecursos | orderBy: order:reverse:'case-insensitive'">
          <td>
            <mat-icon routerLink="/additionalInfo/{{ID_ENTIDAD}}/{{ID_TIPOENTIDAD}}/1/{{item.IdRecurso}}/1"
              style="cursor: pointer;color:black;" *ngIf="authService.showMenus">edit</mat-icon>
          </td>
          <td>
            <span *ngIf="item.IsImage == 1">SI</span>
            <span *ngIf="item.IsImage == 0">NO</span>
          </td>
          <td> <i routerLink="/VisorEntidad/{{item.IdEntidad}}/{{item.IdTipoEntidad}}"> {{item.Nivel}} </i></td>
          <td>
            <a *ngIf="item.IsImage == 0" class="link" [href]="item.URL" target="_blank"> {{item.URL}} </a>
            <a *ngIf="item.IsImage == 1" [href]="item.URL" target="_blank">

              <div class="box" style="width: 300px;height:300px">
                <img [src]="item.URL" style="object-fit: contain;background-color: white;">
              </div>

            </a>
          </td>

        </tr>
      </tbody>
    </table>

  </div>

</div>
