<div class="container">

  <div style="display: flex;justify-content: center;">
    <img src="../../../assets/img/ceo_logo.png">
  </div>

  <p style="font-size: 18px;">COpenMed es una página web de contenido abierto para la estructuración del conocimiento
    médico. Esta estructuración
    tiene dos objetivos:</p>
  <p style="font-size: 18px;">• Facilitar el acceso a las personas a información médica utilizando un lenguaje cercano
    al de la persona de la
    calle,
    pero sin perder el rigor técnico y científico de una disciplina como la Medicina.</p>

  <p style="font-size: 18px;">• Facilitar el acceso a una máquina a esta información de forma que en el futuro se puedan
    construir “razonadores”
    médicos automáticos que a partir de síntomas puedan encontrar las causas más probables que provocan esos síntomas.
  </p>

  <p style="font-size: 18px;">En ningún momento se pretende sustituir al médico, la información contenida no tiene valor
    diagnóstico, y ha sido
    introducida por personas por lo que puede contener errores, aunque cualquier persona es invitada a comunicarlos para
    su
    corrección <a href="mailto:copenmedorg@gmail.com">(copenmedorg@gmail.com)</a> . COpenMed no se hace responsable de
    ninguna decisión
    que se haya tomado en base a
    la
    información contenida en la página.</p>

  <p style="font-size: 18px;">Según las <a target="_blank"
      href="https://www.un.org/development/desa/es/news/sustainable/sdg-report-2019.html">Naciones Unidas</a>, más de
    la mitad de la población mundial no tiene acceso
    a
    servicios de salud esenciales
    (pero
    más del 60% de la población tiene acceso a Internet). Otro dato importante de conocer, es que la mortalidad infantil
    en
    algunos países es del 11% (unas 6 veces mayor que la probabilidad de morir que tenía un soldado en la II Guerra
    Mundial). Esta web pretende acercar información de salud estructurada a todas las personas.</p>

  <p style="font-size: 18px;">El contenido de esta web se distribuye bajo la licencia <a
      href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"> Creative Commons CC-BY-SA 4.0</a>,
    cualquier colaborador de la
    web
    cede su contenido bajo esta licencia (ésta es el mismo tipo de licencia que la que tiene Wikipedia).</p>

  <div style="display: flex;justify-content: center;">
    <img src="../../../assets/img/creativecommons.jpeg">
  </div>

</div>
