<!-- TOOL BAR-->
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-button data-dismiss="modal" data-toggle="modal" data-target="#OperationModalDialog">
      Copenmed
    </button>

    <span class="material-spacer"></span>
    <span class="material-spacer"></span>

    <button mat-button routerLink="/login">
      Login
    </button>

  </mat-toolbar-row>
</mat-toolbar>
<!--END TOOL BAR-->

<div class="content p-5">

  <div class="name-img-content">
    <div class="ta-name">{{ENIDAD.Entidad}}</div>
    <div class="ta-img">
      <button mat-icon-button color="primary" (click)="backClicked()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
  </div>

  <div class="separator"></div>
  <div class="te-name">Tipo Entidad: {{ENIDAD.TipoEntidad}}</div>

  <app-visor-entidad-detalle [ID_ENTIDAD]="IdEntidad"></app-visor-entidad-detalle>
  <app-visor-entidad-recursos [ID_ENTIDAD]="IdEntidad"></app-visor-entidad-recursos>
  <app-visor-entidad-asociaciones [ID_ENTIDAD]="IdEntidad"></app-visor-entidad-asociaciones>

</div>
