.ta-name{
  font-size: 34px;
  color:rgba(34,110,147,1);
  }
  .name-img-content{
    display: flex;
    justify-content: space-between;
    }

  .te-name{
    font-size: 24px;
    color:rgba(34,110,147,1);
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }

  .separator{
    border-bottom: 1px solid ;
    border-bottom-color: gray;
    margin-top: 5px;
    }
