<!-- TOOL BAR-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div>Recursos Asociados</div>
        <button mat-button routerLink="/entidad">
            <mat-icon>reply</mat-icon>Atras
        </button>
        <span class="material-spacer"></span>
        <mat-form-field id="mat-form-field-search">
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-placeholder class="placeholder">Buscar</mat-placeholder>
        </mat-form-field>
    </mat-toolbar-row>
</mat-toolbar>
<!--END TOOL BAR-->

<!-- ELIMINAR -->
<div class="modal fade" id="DeleteDialog" tabindex="-1" role="dialog" aria-labelledby="OperationModalDialogTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label style="font-weight: 500">Está seguro que desea eliminar el registro?</label>
            </div>
            <div class="modal-footer">
                <button mat-stroked-button (click)="Limpiar()" data-dismiss="modal">Cancelar</button>
                <button (click)="eliminarClick()" data-dismiss="modal" mat-raised-button color='warn'>Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="spinner-container" *ngIf="entidadRecursoService.loading$ | async">
                <mat-spinner diameter="50"></mat-spinner>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<table style="width: 100% !important;margin-top: 15px">
    <tr>
        <td *ngIf="this.authService.currentUser.Rol == 'Estudiante' && this.EvaluacionEntidad != 1"
            style="width: 280px">

            <!-- FORMULARIO -->
            <form [formGroup]="entidadRecursoService.form">

                <mat-form-field class="ceu-full-width">
                    <input type="hidden" formControlName="IdRecurso">
                    <input type="hidden" formControlName="IdEntidad">
                    <input disabled="true" matInput name="TipoEntidad" [value]="TIPO_ENTIDAD"
                        placeholder="Tipo Entidad">
                </mat-form-field>

                <mat-form-field class="ceu-full-width" style="margin-top:10px">
                    <mat-label>Nivel</mat-label>
                    <mat-select formControlName="Nivel" name="Nivel">
                        <mat-option value="0">0</mat-option>
                        <mat-option value="1">1</mat-option>
                        <mat-option value="2">2</mat-option>
                    </mat-select>
                    <mat-error>Este campo es requerido.</mat-error>
                </mat-form-field>

                <mat-form-field class="ceu-full-width">
                    <input formControlName="URL" matInput name="URL" placeholder="URL">
                    <mat-error>Este campo es requerido.</mat-error>
                </mat-form-field>

                <section style="margin-top:10px">
                    <mat-slide-toggle formControlName="IsImage" name="IsImage">
                        La referencia es una imagen?
                    </mat-slide-toggle>
                </section>

                <button mat-raised-button color='primary'
                    [disabled]="entidadRecursoService.form.invalid || (entidadRecursoService.loading$ | async)"
                    *ngIf="transaccionIsNew" (click)="guardarClick()">Guardar</button>
                <button mat-raised-button color='primary'
                    [disabled]="entidadRecursoService.form.invalid || (entidadRecursoService.loading$ | async)"
                    *ngIf="!transaccionIsNew" data-dismiss="modal" (click)="guardarClick()">Modificar</button>

            </form>
            <!--END FORMULARIO -->

        </td>
        <td style="width: 10px">
            <!-- DIVIDER -->

            <!-- END -->
        </td>
        <td valign="top">
            <!-- GRID -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ceu-table">

                <ng-container matColumnDef="Nivel">
                    <th mat-header-cell *matHeaderCellDef> Nivel </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nivel}} </td>
                </ng-container>

                <ng-container matColumnDef="URL">
                    <th mat-header-cell *matHeaderCellDef> URL </th>
                    <td mat-cell *matCellDef="let element">                          
                            <a [href]="element.URL" target="_blank">Ver referencia</a> 
                         </td>
                </ng-container>

                <ng-container matColumnDef="isImage">
                    <th mat-header-cell *matHeaderCellDef> Es una Imagen? </th>
                    <td mat-cell *matCellDef="let element"> {{element.IsImage | exchangeBoolean}} </td>
                </ng-container>

                <ng-container matColumnDef="commands">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element;">

                        <button *ngIf="this.authService.currentUser.Rol == 'Estudiante'"
                            (click)='ROW_NUMBER = dataSource.filteredData.indexOf(element); setOperationsData()'
                            mat-icon-button data-toggle="modal" data-target="#OperationModalDialog">
                            <mat-icon color='primary' matTooltip="Modificar">edit</mat-icon>
                        </button>

                        <button
                            (click)='ROW_NUMBER = dataSource.filteredData.indexOf(element); openDialogDescripcion()'
                            mat-icon-button>
                            <mat-icon color='primary' matTooltip="Descripción">description</mat-icon>
                        </button>

                        <button *ngIf="this.authService.currentUser.Rol == 'Estudiante'"
                            (click)="ROW_NUMBER = dataSource.filteredData.indexOf(element); setOperationsData()"
                            mat-icon-button data-toggle="modal" data-target="#DeleteDialog">
                            <mat-icon color='warn' matTooltip="Eliminar">delete</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[10, 30, 50]"></mat-paginator>
            <!--END GRID -->
        </td>
    </tr>
</table>