
    
    <div class="nav-bottom bg-white">
        <h3 class="title-menu d-flex d-lg-none"> 
          Menu 
          <div class="close-menu"> <i class="flaticon-cross"></i></div>
        </h3>
        <div class="container d-flex flex-row">
          <ul class="nav page-navigation page-navigation-success">
            
            <li class="nav-item">
              <a class="nav-link" routerLink="enfermedades">
                <i class="link-icon icon-grid"></i>
                <span class="menu-title">Apps</span>
              </a>
            
            </li>

            <li class="nav-item submenu">
              <a class="nav-link" routerLink="enfermedades">
                <i class="link-icon icon-grid"></i>
                <span class="menu-title">Apps</span>
              </a>
              <div class="navbar-dropdown animated fadeIn">
                <ul>
                  <li>
                    <a routerLink="enfermedades">Enfermedades</a>
                  </li>
                  <li>
                    <a href="projects.html">Projects</a>
                  </li>
                  <li>
                    <a href="email-inbox.html">Email Inbox</a>
                  </li>
                  <li>
                    <a href="email-detail.html">Email Detail</a>
                  </li>
                  <li>
                    <a href="email-compose.html">Email Inbox</a>
                  </li>
                  <li>
                    <a href="messages.html">Messages</a>
                  </li>
                  <li>
                    <a href="conversations.html">Conversations</a>
                  </li>
                </ul>
              </div>
            </li>
                      
            
          </ul>
        </div>
      </div>
  