<div class="nav-bottom bg-white">
  <h3 class="title-menu d-flex d-lg-none">
    Menu
    <div class="close-menu"> <i class="flaticon-cross"></i></div>
  </h3>
  <div class="container d-flex flex-row">
    <ul class="nav page-navigation page-navigation-success">


      <li class="nav-item submenu">
        <a class="nav-link" routerLink="enfermedades">
          <i class="link-icon icon-grid"></i>
          <span class="menu-title">Entidades</span>
        </a>
        <div class="navbar-dropdown animated fadeIn">
          <ul>

            <li>
              <a routerLink="sintomas">Síntomas</a>
            </li>
            <li>
              <a routerLink="tratamientos">Tratamientos</a>
            </li>
            <li>
              <a routerLink="anatomia">Anatomía</a>
            </li>
            <li>
              <a routerLink="poblacin">Población</a>
            </li>

          </ul>
        </div>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="enfermedades">
          <i class="link-icon icon-grid"></i>
          <span class="menu-title">Enfermedades</span>
        </a>

      </li>


    </ul>
  </div>
</div>