<!-- TOOL BAR-->
<mat-toolbar color="primary">
        <mat-toolbar-row>
    
            <button mat-button (click)="Limpiar()" data-dismiss="modal" data-toggle="modal" data-target="#OperationModalDialog">
                <mat-icon>add</mat-icon>
                Nuevo
            </button>
    
            <span class="material-spacer"></span>
    
            <mat-form-field id="mat-form-field-search">
                <input matInput (keyup)="applyFilter($event.target.value)">
                <mat-placeholder class="placeholder">Buscar</mat-placeholder>
            </mat-form-field>
    
        </mat-toolbar-row>
    </mat-toolbar>
    <!--END TOOL BAR-->

<div class="shadow-sm p-3 mb-5 bg-white rounded">

    <!-- FORMULARIO -->
    <div class="modal fade" id="OperationModalDialog" tabindex="-1" role="dialog"
        aria-labelledby="OperationModalDialogTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">{{dialogTittle}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="grupoService.form" class="ceu-form">


                        <mat-form-field class="ceu-full-width">
                            <input type="hidden" formControlName="IdGrupo">
                            <input formControlName="Grupo" matInput name="Grupo" placeholder="Grupo">
                            <mat-error>Este campo es requerido.</mat-error>
                        </mat-form-field>

                    </form>

                </div>
                <div class="modal-footer">
                    <button mat-stroked-button data-dismiss="modal" (click)="Limpiar()">Cancelar</button>

                    <button mat-raised-button color='primary' [disabled]="grupoService.form.invalid"
                        *ngIf="transaccionIsNew" (click)= "guardarClick()">Guardar</button>
                    <button mat-raised-button color='primary' [disabled]="grupoService.form.invalid"
                        *ngIf="!transaccionIsNew" data-dismiss="modal" (click)= "guardarClick()">Modificar</button>

                </div>
            </div>
        </div>
    </div>
    <!--END FORMULARIO -->


    <!-- ELIMINAR -->
    <div class="modal fade" id="DeleteDialog" tabindex="-1" role="dialog" aria-labelledby="OperationModalDialogTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Grupo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label style="font-weight: 500">Está seguro que desea eliminar el registro?</label>
                </div>
                <div class="modal-footer">
                    <button mat-stroked-button data-dismiss="modal">Cancelar</button>
                    <button (click)="eliminarClick()" data-dismiss="modal" mat-raised-button
                        color='warn'>Eliminar</button>

                </div>
            </div>
        </div>
    </div>

    <div class="spinner-container" *ngIf="grupoService.loading$ | async">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
    
    <table mat-table [dataSource]="dataSource" class="ceu-table">

        <ng-container matColumnDef="IdGrupo">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.IdGrupo}} </td>
        </ng-container>

        <ng-container matColumnDef="Grupo">
            <th mat-header-cell *matHeaderCellDef> Grupo </th>
            <td mat-cell *matCellDef="let element"> {{element.Grupo}} </td>
        </ng-container>

        <ng-container matColumnDef="commands">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row = index;">

                <button (click)='ROW_NUMBER = row; setOperationsData()' mat-icon-button data-toggle="modal"
                    data-target="#OperationModalDialog">
                    <mat-icon color='primary'>edit</mat-icon>
                </button>

                <button (click)="ROW_NUMBER = row; setOperationsData()" mat-icon-button data-toggle="modal" data-target="#DeleteDialog">
                    <mat-icon color='warn'>delete</mat-icon>
                </button>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[10, 30, 50]"></mat-paginator>
    <!--END GRID -->

</div>
