<!-- TOOL BAR-->

<mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-button (click)="setTransaccionNew()" data-dismiss="modal" data-toggle="modal"
            data-target="#formularioSintomas">
            <mat-icon>add</mat-icon>
            Basic
          </button>
      
          <span class="material-spacer"></span>
      
          <mat-form-field id="mat-form-field-search">
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-placeholder class="placeholder">Search</mat-placeholder>
          </mat-form-field>
      
        </mat-toolbar-row>
      </mat-toolbar>
      <!--END TOOL BAR-->