<!-- TOOL BAR-->
<mat-toolbar color="primary">
    <mat-toolbar-row>
     
        <table border="0" style="border-collapse: collapse; border-spacing: 0px;">
            <tr style="padding-top: 0px;padding-bottom:0px;">
                <td style="color: white;font-size: 18px;padding-top: 0px;padding-bottom:0px;">Dolor de cabesa</td>
            </tr>
            <tr style="padding-top: 0px;padding-bottom:0px;">
                <td style="color: lightgray;font-size: 14px;padding-top: 0px;padding-bottom:0px;">Sintoma</td>
            </tr>
        </table>

        <button mat-button (click)="Limpiar()" data-dismiss="modal" data-toggle="modal"
        data-target="#OperationModalDialog">
        <mat-icon>add</mat-icon>
        Nuevo
    </button>

        <span class="material-spacer"></span>

        <mat-form-field id="mat-form-field-search">
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-placeholder class="placeholder">Buscar</mat-placeholder>
        </mat-form-field>

    </mat-toolbar-row>
</mat-toolbar>
<!--END TOOL BAR-->