<!-- TOOL BAR-->
<mat-toolbar color="primary">
    <mat-toolbar-row>

        <button mat-button *ngIf="this.authService.currentUser.Rol == 'Estudiante'" routerLink="/entidad" >
            <mat-icon>reply</mat-icon>
            Atras
        </button>

        <button mat-button *ngIf="this.authService.currentUser.Rol == 'Profesor'" routerLink="/EntidadesEvaluadas" >
            <mat-icon>reply</mat-icon>
            Atras
        </button>

        <span class="material-spacer"></span>
               
        <mat-form-field id="mat-form-field-search">
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-placeholder class="placeholder">Buscar</mat-placeholder>
        </mat-form-field>

    </mat-toolbar-row>
</mat-toolbar>
<!--END TOOL BAR-->

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col" class="text-center">Asociaciones de la Entidad: {{EntidadSeleccionada}}</th>
        </tr>
    </thead>
</table>

<!-- FORMULARIO -->
<div class="modal fade" id="OperationModalDialog" tabindex="-1" role="dialog"
    aria-labelledby="OperationModalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">{{dialogTittle}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="Service.form" class="ceu-form">

                    <mat-form-field class="ceu-full-width">
                        <mat-label>Tipo de Asociacion</mat-label>
                        <mat-select formControlName="IdTipoAsociacion" name="IdTipoAsociacion">
                            <mat-option *ngFor="let tipoAsociacion of listTipoAsociacion"
                                [value]="tipoAsociacion.IdTipoAsociacion">
                                {{tipoAsociacion.TipoAsociacion}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Este campo es requerido.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="ceu-full-width">
                        <input formControlName="Nivel" min="0" max="1" matInput name="Nivel" placeholder="Fuerza">
                        <mat-error>Este campo es requerido.</mat-error>
                    </mat-form-field>

                    <mat-form-field class="ceu-full-width">
                        <input formControlName="Comentario" matInput name="Comentario" placeholder="Comentario">
                        <mat-error>Este campo es requerido.</mat-error>
                    </mat-form-field>

                </form>

            </div>
            <div class="modal-footer">
                <mat-icon *ngIf="Service.loading$ | async">
                    <mat-spinner diameter="20" color="accent">
                    </mat-spinner>
                </mat-icon>
                <button mat-stroked-button data-dismiss="modal" (click)="Limpiar()">Cancelar</button>

                <button mat-raised-button color='primary'
                    [disabled]="Service.form.invalid || (Service.loading$ | async)" *ngIf="transaccionIsNew"
                    (click)="guardarClick()">Guardar</button>
                <button mat-raised-button color='primary'
                    [disabled]="Service.form.invalid || (Service.loading$ | async)" *ngIf="!transaccionIsNew"
                    data-dismiss="modal" (click)="guardarClick()">Modificar</button>

            </div>
        </div>
    </div>
</div>
<!--END FORMULARIO -->

<!-- ELIMINAR -->
<div class="modal fade" id="DeleteDialog" tabindex="-1" role="dialog" aria-labelledby="OperationModalDialogTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Eliminar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label style="font-weight: 500">Está seguro que desea eliminar el registro?</label>
            </div>
            <div class="modal-footer">
                <button mat-stroked-button data-dismiss="modal">Cancelar</button>
                <button (click)="eliminarClick()" data-dismiss="modal" mat-raised-button color='warn'>Eliminar</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="spinner-container" *ngIf="Service.loading$ | async">
                <mat-spinner diameter="50"></mat-spinner>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>

<!-- GRID -->
<table mat-table [dataSource]="dataSource" class="ceu-table">
    
    <ng-container  matColumnDef="IdAsociacion">
        <th mat-header-cell hidden *matHeaderCellDef> ID </th>
        <td mat-cell hidden *matCellDef="let element"> {{element.IdAsociacion}} </td>
    </ng-container>

    <ng-container  matColumnDef="IdEntidad">
        <th mat-header-cell hidden *matHeaderCellDef> ID </th>
        <td mat-cell hidden *matCellDef="let element"> {{element.IdEntidad}} </td>
    </ng-container>

    <ng-container matColumnDef="TipoEntidad">
        <th mat-header-cell *matHeaderCellDef> Tipo de Entidad </th>
        <td mat-cell *matCellDef="let element"> {{element.TipoEntidad}} </td>
    </ng-container>

    <ng-container matColumnDef="Idioma">
        <th mat-header-cell *matHeaderCellDef> Idioma </th>
        <td mat-cell *matCellDef="let element"> {{element.Idioma}} </td>
    </ng-container>

    <ng-container matColumnDef="Entidad">
        <th mat-header-cell *matHeaderCellDef> Entidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Entidad}} </td>
    </ng-container>

    <ng-container matColumnDef="Nivel">
        <th mat-header-cell *matHeaderCellDef> Fuerza </th>
        <td mat-cell *matCellDef="let element"> {{element.Nivel}} </td>
    </ng-container>
    
    <ng-container matColumnDef="TipoAsociacion">
        <th mat-header-cell *matHeaderCellDef> Tipo de Asociacion </th>
        <td mat-cell *matCellDef="let element"> {{element.TipoAsociacion}} </td>
    </ng-container>
  

    <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">

            <button [disabled]="this.authService.currentUser.Rol == 'Estudiante'"
                *ngIf="element.Estado == 1 && element.Evaluacion == 1"
                (click)='ROW_NUMBER = dataSource.filteredData.indexOf(element); cargarEvaluacion()' mat-icon-button
                data-toggle="modal" data-target="#EvaluarModalDialog">
                <mat-icon class="green-color" matTooltip="Correcto">done_all</mat-icon>
            </button>

            <button [disabled]="this.authService.currentUser.Rol == 'Estudiante'" *ngIf="element.Estado == 0"
                (click)="ROW_NUMBER = dataSource.filteredData.indexOf(element); cargarEvaluacion()" mat-icon-button
                data-toggle="modal" data-target="#EvaluarModalDialog">
                <mat-icon class="darkblue-color" matTooltip="En espera">hourglass_empty</mat-icon>
            </button>

            <button [disabled]="this.authService.currentUser.Rol == 'Estudiante'"
                *ngIf="element.Estado == 1 && element.Evaluacion == 0"
                (click)="ROW_NUMBER = dataSource.filteredData.indexOf(element); cargarEvaluacion()" mat-icon-button
                data-toggle="modal" data-target="#EvaluarModalDialog">
                <mat-icon color="warn" matTooltip="Incorrecto">report</mat-icon>
            </button>

            <button *ngIf="this.authService.currentUser.Rol == 'Estudiante' && element.Estado == 1"
                (click)="ROW_NUMBER = dataSource.filteredData.indexOf(element);" mat-icon-button>
                <mat-icon class="profesor-color" matTooltip="{{element.Profesor}}">school</mat-icon>
            </button>

            <button *ngIf="element.Estado == 1 && element.Comentario != null"
                (click)="ROW_NUMBER = dataSource.filteredData.indexOf(element); setOperationsData()" mat-icon-button
                data-toggle="modal">
                <mat-icon class="aqua-color" matTooltip="{{element.Comentario}}">comment</mat-icon>
            </button>

        </td>
    </ng-container>

    <ng-container matColumnDef="asociacionOpcional">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">

            <button *ngIf="element.IdAsociacion != null"
                (click)='ROW_NUMBER = dataSource.filteredData.indexOf(element); goToAsociacionesOpcionales()' mat-icon-button>
                <mat-icon color='primary' matTooltip="Agregar Asociación">post_add</mat-icon>
            </button>
           
        </td>
    </ng-container>

    <ng-container matColumnDef="commands">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">

            <button *ngIf="element.Evaluacion != 1 && this.authService.currentUser.Rol == 'Estudiante'"
                (click)='ROW_NUMBER = dataSource.filteredData.indexOf(element); setOperationsData()' mat-icon-button
                data-toggle="modal" data-target="#OperationModalDialog">
                <mat-icon *ngIf="element.IdAsociacion == null" color='primary' matTooltip="Agregar asociacion">add</mat-icon>
                <mat-icon *ngIf="element.IdAsociacion != null" color='primary' matTooltip="Modificar asociacion">edit</mat-icon>
            </button>

            <button *ngIf="element.Estado == 0 && this.authService.currentUser.Rol == 'Estudiante'"
                (click)="ROW_NUMBER = dataSource.filteredData.indexOf(element); setOperationsData()" mat-icon-button
                data-toggle="modal" data-target="#DeleteDialog">
                <mat-icon color='warn' matTooltip="Eliminar">delete</mat-icon>
            </button>
            <!-- 
                <button (click)="ROW_NUMBER = dataSource.filteredData.indexOf(element); goTo('/negRelacion')" mat-icon-button 
                data-target="#DeleteDialog">
                <mat-icon class="orange-color" matTooltip="Relaciones">shuffle</mat-icon>
            </button> -->

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[10, 30, 50]"></mat-paginator>
<!--END GRID -->

<!-- EVALUAR -->
<div class="modal fade" id="EvaluarModalDialog" tabindex="-1" role="dialog" aria-labelledby="EvaluarModalDialogTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">{{dialogTittle}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="Service.form" class="ceu-form">

                    <table class="p100">

                        <tr>
                            <td class="p30">
                                <button (click)="setEvalucacion('1','1')" mat-icon-button>
                                    <mat-icon class="green-color" matTooltip="Correcto">done_all</mat-icon>
                                </button>
                                <mat-icon class="green-color" *ngIf="EstadoEntidad == 1 && EvaluacionEntidad == 1">done
                                </mat-icon>
                            </td>

                            <td class="p30">
                                <button (click)="setEvalucacion('1','0')" mat-icon-button>
                                    <mat-icon color="warn" matTooltip="Incorrecto">report</mat-icon>
                                </button>
                                <mat-icon class="green-color" *ngIf="EstadoEntidad == 1 && EvaluacionEntidad == 0">done
                                </mat-icon>
                            </td>
                            <td class="p20">
                                <button (click)="setEvalucacion('0','0')" mat-icon-button>
                                    <mat-icon class="darkblue-color" matTooltip="En espera">hourglass_empty</mat-icon>
                                </button>
                                <mat-icon class="green-color" *ngIf="EstadoEntidad == 0 && EvaluacionEntidad == 0">done
                                </mat-icon>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div class="dropdown-divider"></div>
                            </td>
                        </tr>
                    </table>

                    <mat-form-field class="ceu-full-width">

                        <textarea formControlName="Comentario" [value]="ComentarioEntidad" rows="3" matInput
                            name="Comentario" placeholder="Comentario"></textarea>
                        <mat-error>Este campo es requerido.</mat-error>
                    </mat-form-field>

                </form>

            </div>
            <div class="modal-footer">
                <mat-icon *ngIf="Service.loading$ | async">
                    <mat-spinner diameter="20" color="accent">
                    </mat-spinner>
                </mat-icon>
                <button mat-stroked-button data-dismiss="modal">Cancelar</button>
                <button mat-raised-button color='primary' data-dismiss="modal"
                    (click)="ActualizarEvaluacion()">Guardar</button>

            </div>
        </div>
    </div>
</div>
<!--END EVALUAR -->