<div class="m10 p60">
    <form>
        <table>
            <tr>
                <td class="p100">
                    <mat-form-field class="p100">
                        <input matInput placeholder="Escriba el síntoma">
                    </mat-form-field>
                </td>
                <td>
                    <button (click)="agregarClick()" class="m5 green-color" type="button" mat-raised-button>Agregar</button>
                </td>
            </tr>
        </table>

    </form>
</div>

<ul class="list-group list-group-flush">
    <li *ngFor="let detalle of sintomasDetalle">
        <app-sintoma-detalle [sintomaDetalle]="detalle"></app-sintoma-detalle>
    </li>
</ul>