<!-- TOOL BAR-->
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <button mat-button>
      Copenmed
    </button>

    <span class="material-spacer"></span>
    <span class="material-spacer"></span>

    <button mat-button routerLink="/login">
      Login
    </button>

  </mat-toolbar-row>
</mat-toolbar>
<!--END TOOL BAR-->

<div class="d-block container mt-3">

  <div class="d-block position-relative mb-3">
    <div class="div-search d-flex">
      <mat-icon>search</mat-icon>
      <input class="input-search" placeholder="Buscar" type="text" (keyup)="SearchOnChange($event)">
    </div>
    <div class="serach-autocomplete" *ngIf="ArrayEntidadSearch.length > 0">

      <li *ngFor=" let item of ArrayEntidadSearch">
        <div class="autocomplete-item" routerLink="/VisorEntidad/{{item.IdEntidad}}"> {{item.Entidad}}</div>
      </li>
    </div>
  </div>

  <li *ngFor=" let item of ArrarTipoEntidad">
    <app-visor-tipo-asociacion [TIPO_ENIDAD]="item"></app-visor-tipo-asociacion>
  </li>

</div>
