
<mat-card class="m10">

    <table>
        <tr>
            <td class="p100">
                <mat-card-header>
                    <div mat-card-avatar class="img-sintoma"></div>
                    <mat-card-subtitle>
                        <p style="color:black">
                            {{sintomaDetalle.sintoma}}
                        </p>

                    </mat-card-subtitle>
                </mat-card-header>
            </td>
            <td>
                <mat-icon *ngIf="!sintomaDetalle.estado" color="primary">hourglass_full</mat-icon>
                <mat-icon *ngIf="sintomaDetalle.estado && sintomaDetalle.nota" class="green-icon">done_all</mat-icon>
                <mat-icon *ngIf="sintomaDetalle.estado && !sintomaDetalle.nota" color="warn">cancel</mat-icon>
            </td>
        </tr>
    </table>


    <div class="col-xs-12">
        <hr>
    </div>
    <mat-card-content>
        <table border="0" >
            <tr *ngIf="sintomaDetalle.estado">
                <td class="text-align-top-right">
                    <mat-icon>school</mat-icon>
                </td>
                <td>
                    <mat-card-subtitle>
                        {{sintomaDetalle.nombre_profesor}}
                    </mat-card-subtitle>
                </td>
            </tr>

            <tr *ngIf="sintomaDetalle.comentario && sintomaDetalle.estado">
                <td class="text-align-top-right">
                    <mat-icon>message</mat-icon>
                </td>
                <td>
                    <mat-card-subtitle>
                        {{sintomaDetalle.comentario}}
                    </mat-card-subtitle>
                </td>
            </tr>
            <tr *ngIf="!sintomaDetalle.estado">
                <td colspan="2" class="p100">
                    <button (click)="deleteClick()" mat-icon-button color="warn" style="float: right">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <button mat-icon-button style="float: right">
                        <mat-icon class="green-icon">edit</mat-icon>
                    </button>
                </td>
                <td></td>
            </tr>
        </table>



    </mat-card-content>

</mat-card>