<mat-card class="m10 p60 example-card">
        
   
        <table>
            <tr>
                <td class="p100">
                        <mat-card-header>
                        <div mat-card-avatar class="img-sintoma"></div>         
                        <mat-card-subtitle>
                              <p style="color:black">
                                      The Shiba Inu is the smallest of the s.                       
                              </p>               
                             
                          </mat-card-subtitle>   
                        </mat-card-header>
                </td>
                <td>
                    <mat-icon class="green-icon">done_all</mat-icon>
                    <mat-icon color="primary">hourglass_full</mat-icon>
                    <mat-icon color="warn">error</mat-icon>
                </td>
            </tr>
        </table>
                       
       
        <div class="col-xs-12"><hr></div>
        <mat-card-content>
               <table class="m5">
                   <tr>
                       <td class="text-align-top">
                            <mat-icon>school</mat-icon>
                            
                       </td>
                       <td>
                            <mat-card-subtitle>
                                   Dr. Fulano Perez
                                </mat-card-subtitle>    
                       </td>
                   </tr>

                   <tr>
                        <td class="text-align-top">
                             <mat-icon>message</mat-icon>
                             
                        </td>
                        <td>
                                <mat-card-subtitle>
                                        Recomendaciones o comentarios a .
                                    </mat-card-subtitle>    
                        </td>
                    </tr>    
                    <tr>
                        <td colspan="2" class="p100" > 
                                <button mat-icon-button color="warn" style="float: right">
                                        <mat-icon>delete</mat-icon>
                                      </button>
                
                                      <button mat-icon-button style="float: right">
                                            <mat-icon class="green-icon">edit</mat-icon>
                                      </button>  
                        </td>
                        <td></td>
                    </tr>               
               </table>
          
                  
                       
        </mat-card-content>
      
</mat-card>