<!-- TOOL BAR-->
<mat-toolbar color="primary">
    <mat-toolbar-row>

        <button mat-button (click)="Limpiar()" data-dismiss="modal" data-toggle="modal"
            data-target="#OperationModalDialog">
            <mat-icon>add</mat-icon>
            Nuevo
        </button>

        <span class="material-spacer"></span>

        <mat-form-field id="mat-form-field-search">
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-placeholder class="placeholder">Buscar</mat-placeholder>
        </mat-form-field>

    </mat-toolbar-row>
</mat-toolbar>
<!--END TOOL BAR-->

 <!-- FORMULARIO -->
 <div class="modal fade" id="OperationModalDialog" tabindex="-1" role="dialog"
 aria-labelledby="OperationModalDialogTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h4 class="modal-title" id="exampleModalLongTitle">{{dialogTittle}}</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">

             <form [formGroup]="Service.form" class="ceu-form">

                 <mat-form-field class="ceu-full-width">
                     <input type="hidden" formControlName="IdEntidad">
                     <input formControlName="Entidad" matInput name="Entidad" placeholder="Nombre">
                     <mat-error>Este campo es requerido.</mat-error>
                 </mat-form-field>

             </form>

         </div>
         <div class="modal-footer">
             <mat-icon *ngIf="Service.loading$ | async">
                 <mat-spinner diameter="20" color="accent">
                 </mat-spinner>
             </mat-icon>
             <button mat-stroked-button data-dismiss="modal" (click)="Limpiar()">Cancelar</button>

             <button mat-raised-button color='primary'
                 [disabled]="Service.form.invalid || (Service.loading$ | async)"
                 *ngIf="transaccionIsNew" (click)="guardarClick()">Guardar</button>
             <button mat-raised-button color='primary'
                 [disabled]="Service.form.invalid || (Service.loading$ | async)"
                 *ngIf="!transaccionIsNew" data-dismiss="modal" (click)="guardarClick()">Modificar</button>

         </div>
     </div>
 </div>
</div>
<!--END FORMULARIO -->

 <!-- GRID -->
<table mat-table [dataSource]="dataSource" class="ceu-table">

    <ng-container matColumnDef="IdEntidad">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.IdEntidad}} </td>
    </ng-container>

    <ng-container matColumnDef="Entidad">
        <th mat-header-cell *matHeaderCellDef> Entidad </th>
        <td mat-cell *matCellDef="let element"> {{element.Entidad}} </td>
    </ng-container>

    <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row = index;">

            <button (click)='ROW_NUMBER = row; setOperationsData()' mat-icon-button data-toggle="modal"
                data-target="#OperationModalDialog">
                <mat-icon class="green-color" matTooltip="Correcto">done_all</mat-icon>
            </button>

            <button (click)="ROW_NUMBER = row; setOperationsData()" mat-icon-button data-toggle="modal"
                data-target="#DeleteDialog">
                <mat-icon class="darkblue-color" matTooltip="En espera">hourglass_empty</mat-icon>
            </button>
 
            <button (click)="ROW_NUMBER = row; goTo('/negRelacion')" mat-icon-button 
                data-target="#DeleteDialog">
                <mat-icon class="orange-color" matTooltip="Relaciones">shuffle</mat-icon>
            </button>

            <button (click)="ROW_NUMBER = row; setOperationsData()" mat-icon-button data-toggle="modal"
                data-target="#DeleteDialog">
                <mat-icon color="warn" matTooltip="Incorrecto">report</mat-icon>
            </button>

            <button (click)="ROW_NUMBER = row; setOperationsData()" mat-icon-button data-toggle="modal"
                data-target="#DeleteDialog">
                <mat-icon class="aqua-color" matTooltip="Comentario">comment</mat-icon>
            </button>

            <button (click)="ROW_NUMBER = row;"  mat-icon-button data-target="#DeleteDialog">
                <mat-icon class="profesor-color"  matTooltip="Eliminar">school</mat-icon>
            </button>
            
        </td>
    </ng-container>

    <ng-container matColumnDef="commands">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row = index;">

            <button (click)='ROW_NUMBER = row; setOperationsData()' mat-icon-button data-toggle="modal"
                data-target="#OperationModalDialog">
                <mat-icon color='primary' matTooltip="Modificar">edit</mat-icon>
            </button>

            <button (click)="ROW_NUMBER = row; setOperationsData()" mat-icon-button data-toggle="modal"
                data-target="#DeleteDialog">
                <mat-icon color='warn' matTooltip="Eliminar">delete</mat-icon>
            </button>

        </td>
    </ng-container>

   

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[10, 30, 50]"></mat-paginator>
<!--END GRID -->