<h1 mat-dialog-title>Hola {{usuario.NombreCompleto}} ({{usuario.username}})</h1>
<div mat-dialog-content>
  
    <form [formGroup]="usuarioService.formChangePass" class="ceu-form">
        <mat-form-field class="ceu-full-width">
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="uusername">
            <input formControlName="oldpassword" matInput name="oldpassword" placeholder="Contraseña Anterior"
                type="password">
            <mat-error>Las Contraseñas no coinciden.</mat-error>
        </mat-form-field>
        <mat-form-field class="ceu-full-width">
            <input formControlName="upassword" matInput name="upassword" placeholder="Contraseña" type="password">
            <mat-error *ngIf="usuarioService.formChangePass.controls['upassword'].errors?.required">
                Este campo es requerido.</mat-error>
            <mat-error *ngIf="usuarioService.formChangePass.controls['upassword'].errors?.minlength">La
                contraseña debe contener como mínimo 6 caracteres.</mat-error>
        </mat-form-field>
        <mat-form-field class="ceu-full-width">
            <input formControlName="upasswordconf" matInput name="upasswordconf" placeholder="Confirmar Contraseña"
                type="password">
            <mat-error>Las Contraseñas no coinciden.</mat-error>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button color='primary'
    [disabled]="usuarioService.formChangePass.invalid || (usuarioService.loading$ | async)" (click)="onCambiarClick()">Cambiar</button>
</div>