<div class="tipo-asociacion">

  <div style="background-color: gainsboro;" class="name-img-content">
    <div class="ta-name">DETALLES</div>
    <div class="ta-img">

      <button *ngIf="!expand" (click)="Expand()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>

      <button *ngIf="expand" (click)="Collapse()" mat-icon-button color="primary">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>

    </div>
  </div>
  <div class="separator"></div>
  <div *ngIf="expand" class="tipo-asociacion-body">

    <div class="task-bar">
      <button *ngIf="!search" (click)="Search()" mat-icon-button class="black">
        <mat-icon>search</mat-icon>
      </button>

      <button *ngIf="search" (click)="CancelSearch()" mat-icon-button class="black">
        <mat-icon>cancel</mat-icon>
      </button>

      <mat-form-field *ngIf="search" class="mat-form-field">
        <input matInput [value]="valueSearch" (keyup)="SearchOnChange($event)">
      </mat-form-field>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th [class.active]="order == 'Entidad'" (click)="setOrder('Entidad')">
            Entidad <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'Idioma'" (click)="setOrder('Idioma')">
            Idioma <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
          <th [class.active]="order == 'Nivel'" (click)="setOrder('Nivel')">
            Nivel <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ArrarDetalleEntidad  | orderBy: order:reverse:'case-insensitive'">
          <td> <i routerLink="/VisorEntidad"> {{item.Entidad}} </i></td>
          <td> <i routerLink="/VisorEntidad"> {{item.Idioma}} </i></td>
          <td> <i routerLink="/VisorEntidad"> {{item.Nivel}} </i></td>
        </tr>
      </tbody>
    </table>


  </div>

</div>
