<!-- TOOL BAR-->
<mat-toolbar color="primary">
        <mat-toolbar-row>
    
            <button mat-button (click)="Limpiar()" data-dismiss="modal" data-toggle="modal"
                data-target="#OperationModalDialog">
                <mat-icon>add</mat-icon>
                Nuevo
            </button>
            <button mat-button (click)="redirectToProfesor()">
                <mat-icon>reply</mat-icon>
                Atras
            </button>
    
            <span class="material-spacer"></span>
    
            <mat-form-field id="mat-form-field-search">
                <input matInput (keyup)="applyFilter($event.target.value)">
                <mat-placeholder class="placeholder">Buscar</mat-placeholder>
            </mat-form-field>
    
        </mat-toolbar-row>
    </mat-toolbar>
    <!--END TOOL BAR-->
    
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-center">Especialidades del Profesor: {{NombreProfesor}}</th>
            </tr>
        </thead>
    </table>
    
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
    
        <!-- FORMULARIO -->
        <div class="modal fade" id="OperationModalDialog" tabindex="-1" role="dialog"
            aria-labelledby="OperationModalDialogTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLongTitle">{{dialogTittle}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
    
                        <form [formGroup]="profesorService.formEspecialidad" class="ceu-form">
    
                            <mat-form-field class="ceu-full-width">
                                <input type="hidden" formControlName="IdProfesor">
                                <mat-label>Especialidad</mat-label>
                                <mat-select formControlName="IdEspecialidad" name="especialidad">
                                    <mat-option *ngFor="let especialidad of listEspecialidades" [value]="especialidad.IdEspecialidad">
                                        {{especialidad.Especialidad}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Este campo es requerido.</mat-error>
                            </mat-form-field>
    
                        </form>
    
                    </div>
                    <div class="modal-footer">
                        <mat-icon *ngIf="profesorService.loading$ | async">
                            <mat-spinner diameter="20" color="accent">
                            </mat-spinner>
                        </mat-icon>
                        <button mat-stroked-button data-dismiss="modal" (click)="Limpiar()">Cancelar</button>
    
                        <button mat-raised-button color='primary'
                            [disabled]="profesorService.formEspecialidad.invalid || (profesorService.loading$ | async)"
                            (click)="guardarClick()">Guardar</button>                    
    
                    </div>
                </div>
            </div>
        </div>
        <!--END FORMULARIO -->
    
    
        <!-- ELIMINAR -->
        <div class="modal fade" id="DeleteDialog" tabindex="-1" role="dialog" aria-labelledby="OperationModalDialogTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Especialidad</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label style="font-weight: 500">Está seguro que desea eliminar el registro?</label>
                    </div>
                    <div class="modal-footer">
                        <button mat-stroked-button data-dismiss="modal">Cancelar</button>
                        <button (click)="eliminarClick()" data-dismiss="modal" mat-raised-button
                            color='warn'>Eliminar</button>
    
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="spinner-container" *ngIf="profesorService.loading$ | async">
                        <mat-spinner diameter="50"></mat-spinner>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    
        <table mat-table [dataSource]="dataSource" class="ceu-table">
    
            <ng-container matColumnDef="IdEspecialidad">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.IdEspecialidad}} </td>
            </ng-container>
    
            <ng-container matColumnDef="Especialidad">
                <th mat-header-cell *matHeaderCellDef> Especialidad </th>
                <td mat-cell *matCellDef="let element"> {{element.Especialidad}} </td>
            </ng-container>
    
            <ng-container matColumnDef="commands">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let row = index;">
                    
                    <button (click)="ROW_NUMBER = row; setOperationsData()" mat-icon-button data-toggle="modal"
                        data-target="#DeleteDialog">
                        <mat-icon color='warn' matTooltip="Eliminar">delete</mat-icon>
                    </button>
    
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[10, 30, 50]"></mat-paginator>
        <!--END GRID -->
    
    </div>