/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p10{width: 10%;}.p20{width: 20%;}.p30{width: 30%;}.p40{width: 40%;}.p50{width: 50%;}
.p60{width: 60%;}.p70{width: 70%;}.p80{width: 80%;}.p90{width: 90%;}.p100{width: 100%;}

.m5{margin: 5px;}.m10{margin: 10px;}.m15{margin: 15px;}


.text-align-top{
vertical-align: top;
}

.green-icon {
    color: green;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.green-icon svg {
    fill: green;
}